<!-- Modal Abrir Projeto -->
<div class="modal-header bg-primary">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="dismissDialog()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Incluir Elemento
    </h4>
</div>
<div class="modal-body">
    <form name="formElement">
        <div class="form-group col-xs-12">
            <label>Tipo</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-tasks"></i>
                </span>
                <select ng-model="newelement.type" class="form-control" help-message="Selecione o tipo do elemento"
                        ng-options="element as element.name for element in elements" required>
                </select>
            </div>
        </div>
        <div class="form-group col-xs-12" ng-show="newelement.type.extension">
            <label>{{newelement.type.extension}}<span ng-hide="newelement.type.extensionrequired">&nbsp;(opcional)</span> </label>
            <div class="input-group" ng-show="newelement.type.label">
                <span class="input-group-addon">
                    <i class="fa fa-keyboard-o"></i>
                </span>
                <input type="{{newelement.type.extensionType?newelement.type.extensionType:'text'}}" ng-model="newelement.type.value" class="form-control" placeholder="{{newelement.type.extension}}" ng-required="newelement.type.extensionrequired">
            </div>
            <div ng-if="newelement.type.extensionType=='list'" class="table-responsive">
                <table class="table table-bordered table-hover table-striped text-black">
                    <tr ng-repeat="item in newelement.type.values track by $index" >
                        <td class="col-xs-12">
                            {{item}}
                        </td>
                        <td class="col-xs-1 text-center">
                            <button type="button" class="btn btn-sm" ng-hide="$first" title="Mover um acima" ng-click="doItemMoveUp(item)"
                                    ng-class="!$first && !$last?'btn-xsmall':''">
                                <i class="fa fa-arrow-up"></i>
                            </button>
                            <button type="button" class="btn btn-sm" ng-hide="$last" title="Mover um abaixo" ng-click="doItemMoveDown(item)"
                                    ng-class="!$first && !$last?'btn-xsmall':''">
                                <i class="fa fa-arrow-down"></i>
                            </button>
                        </td>
                        <td class="col-xs-1 text-center">
                            <button class="btn btn-sm" data-toggle="tooltip" title="Editar Item" ng-click="doItemEdit(item)">
                                <i class="fa fa-edit"></i>
                            </button>
                        </td>
                        <td class="col-xs-1 text-center">
                            <button class="btn btn-sm" data-toggle="tooltip" title="Excluir Item" ng-click="doItemRemove(item)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                    <tr >
                        <td class="col-xs-12" colspan="2">
                            <input ng-model="item.value" type="text" class="form-control" placeholder="Informe o item">
                        </td>
                        <td class="col-xs-1 text-center col-xs-1">
                            <button class="btn btn-sm" data-toggle="tooltip" title="Incluir Item" ng-click="doItemAdd()">
                                <i class="fa fa-check"></i>
                            </button>
                        </td>
                        <td class="col-xs-1 text-center col-xs-1">
                            <button class="btn btn-sm" data-toggle="tooltip" title="Cancelar Item" ng-click="doItemReset()">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                </table>

            </div>



        </div>
        <div class="form-group col-xs-12" ng-show="newelement.type.options">
            <label>{{newelement.type.optionsname}}</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-square"></i>
                </span>
                <select ng-model="newelement.type.option" class="form-control">
                    <option ng-repeat="option in newelement.type.options  track by $index" value="{{option.id}}">{{option.name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group col-xs-4" ng-show="newelement.type.icon">
            <label>Ícone</label>
            <div class="input-group btn-group">
                <span class="input-group-addon">
                    <i class="fa" ng-class="newelement.type.icon"></i>
                </span>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    &nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu scrollable-menu list-inline" role="menu">
                    <li class="padding" ng-click="newelement.type.icon='none'">
                        (nenhuma)
                    </li>
                    <li class="padding" ng-repeat="icon in icons | orderBy:''" ng-click="newelement.type.icon=icon">
                        <i class="fa" ng-class="icon"></i>
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group col-xs-4" ng-show="newelement.type.aligns">
            <label>Alinhamento</label>
            <div class="input-group">
                <button class="btn" ng-class="newelement.type.align==align ? 'btn-primary active':'btn-default'" ng-repeat="align in newelement.type.aligns" ng-click="newelement.type.align=align">
                    <i class="fa" ng-class="align.icon">&nbsp;</i>
                </button>
            </div>
        </div>

        <div class="form-group col-xs-4" ng-show="newelement.type.styles">
            <label>Estilo</label>
            <div class="input-group btn-group">
                <span class="input-group-addon">
                    <i class="fa fa-magic"></i>
                </span>
                <!-- select ng-model="newelement.type.style" class="form-control">
                    <option ng-repeat="style in newelement.type.styles  track by $index" value="{{style.id}}">{{style.name}}</option>
                </select -->
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span>{{newelement.type.style.name}}</span>&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu scrollable-menu padding" role="menu">
                    <li class="padding" ng-click="newelement.type.icon='none'">
                        (nenhuma)
                    </li>
                    <li ng-class="'bg-'+style.id" ng-repeat="style in newelement.type.styles" ng-click="newelement.type.style=style">
                        {{style.name}}
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="col-xs-12">
        <button type='button' class='btn btn-primary' data-dismiss="modal" ng-click="closeDialog()" ng-disabled="formElement.$invalid">
            <i class='fa fa-check'></i>&nbsp;Ok
        </button>
        <button type='button' class='btn btn-default' data-dismiss="modal" ng-click="dismissDialog()">
            <i class='fa fa-times'></i>&nbsp;Cancelar
        </button>
    </div>
</div>
