<meta charset="UTF-8">
<div class="panel panel-card p m-b-sm" >
  <div class="container">
    <h1 class="header">Lista de Produtos </h1>
    <br>
   <div id="divMensagem"></div>
    <table>
      <tr>
        <td>
          <div class="col-sm-12">
            <br>
            <a href="#" ui-sref="incluirProduto">
              <button class="btn btn-icon btn-rounded btn-success" title="Incluir">
                <i class="fa fa-sign-in"></i>
              </button>
              Incluir Produto
            </a>
          </div>
        </td>
        <td colspan="2"></td>
      </tr>
      <tr><td>&nbsp;</td></tr>
  </table>
    <br>
        
    <br>
      <table class="dataTable table table-striped table-hover" cellspacing="0" style="width: 95%">
        <thead>
          <tr>
            <th class="col-sm-2">Código de barras</th>
            <th class="col-sm-2">Nome</th>
            <th class="col-sm-2">Descrição</th>
            <th class="col-sm-2">Quantidade</th>
            <th class="col-sm-2">Categoria</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
          </tr>
        </thead>

        <tbody ng-repeat="produto in listaProduto">
          <tr style="text-align: center;" id="{{produto.id}}">
            <td class="col-sm-2">{{produto.codigoBarra}}</td>
            <td class="col-sm-2" style="word-break:break-all">
                  <a href="#" ng-click="redirectDetalheProduto(produto.id)">
                    {{produto.nome}}
                  </a>
             </td>
            <td class="col-sm-2">{{produto.descricao}}</td>
            <td class="col-sm-2">{{produto.quantidade}}</td>
            <td class="col-sm-2">{{produto.categoria}}</td>
            <td>
              <div class="col-sm-1">
                  <button class="btn btn-icon btn-rounded btn-info" 
                  ng-click="redirectAlterarProduto(produto.id)" title="Editar">
                    <i class="fa fa-pencil"></i>
                  </button>
              </div>
            </td>
            <td>
               <div class="col-sm-1">
                  <button class="btn btn-icon btn-rounded btn-danger"
                    data-toggle="modal" data-target="#modalExclusao"
                    ng-click="openModalExclusao(produto.id)"
                    title="Excluir">
                    <i class="fa fa-times"></i>
                  </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <br><br><br>
    </div>
</div>


<!-- MODAL EXCLUSÃO INSUMO -->
<div ng-controller="consultarProdutoController" class="modal fade" ng-show="exibeModalExclusao" id="modalExclusao" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button class="btn btn-icon btn-rounded blue waves-effect pull-right" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-close"></i>
        </button>
        <h2 class="modal-title" id="deleteModalLabel">Excluir Produto
      <div class="modal-body">Confirma exclusão deste produto ?</div>
     
      <div class="modal-footer">
        <button type="button" class="md-btn md-raised m-b btn-fw bg-white" style="font-size:20px;" data-dismiss="modal">Fechar</button>
        <button type="button" class="md-btn md-raised m-b btn-fw blue" style="font-size:20px;" data-dismiss="modal" ng-click="excluirProduto()">Confirmar</button>
      </div>
    </div>
  </div>
</div>
